body {
	margin: 0px;
	overflow: hidden;
}

.container {
	position: absolute;
	left: 90%;
	z-index: 15000;
}

.input {
	width: 20%;
	height: 50%;
	z-index: 1;
  color: white;
  text-align: center;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.experience {
	display: block;
	position: absolute;
	width: 100vw;
	height: 100vh;
}
img {
	margin: 2em;
	border-radius: 30px;
}
input {
	background-color: transparent;
}
	#selection {
				position: fixed;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				height: 100%;
				width: 100%;
				top: 0;
				z-index: 999;
			}
